<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stack_test.chekchek.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.stack_test.chekchek.bookcheck.LoginActivity"/>
        <activity android:name="com.stack_test.chekchek.bookcheck.BooklistActivity" />
        <activity android:name="com.stack_test.chekchek.bookcheck.BookinfoActivity" />
        <activity
            android:name="com.stack_test.chekchek.bookcheck.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.stack_test.chekchek.bookcheck.SearchActivity" />
        <activity android:name="com.stack_test.chekchek.bookcheck.MainActivity" />
        <activity android:name="com.stack_test.chekchek.bookcheck.LightActivity" />
        <activity android:name="com.stack_test.chekchek.bookcheck.RecommendActivity" />
        <activity android:name="com.stack_test.chekchek.bookcheck.RFIDBorrow" />
        <activity android:name="com.stack_test.chekchek.bookcheck.BarcodeReadActivity" />
        <activity android:name="com.stack_test.chekchek.bookcheck.BorrowActivity"></activity>
    </application>

</manifest>